<div id="new_user" class="row">
  <h2>New User</h2>
  <div class="small-7 columns">
  <%= render 'form' %>
  <%= link_to 'Back', user_manager.users_path, class: 'button expand secondary' %>
  </div>
</div>